@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #27374e;
  --color-secondary: #ff9a00;
  --color-white: #FBF8F3;
  --color-dark: #1D1D1D;
  --color-muted: #e4e6ea;
  --bg-primary: #27374e;
  --bg-secondary: #ff9a00;
}
