@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-gu-navy: #27374e;
  --color-gu-yellow: #ff9a00;
  --color-gu-white: #fbf8f3;
  --color-gu-dark: #1d1d1d;
  --color-primary: #27374e;
  --color-secondary: #ff9a00;
  --color-muted: #e4e6ea;
  --bg-primary: #27374e;
  --bg-secondary: #ff9a00;
}
